name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: josesreyes

          template: classic
          base: header, repositories

          config_timezone: America/Mexico_City

          plugin_languages: yes
          plugin_languages_limit: 10
          plugin_languages_sections: most-used
          plugin_languages_details: percentage


